body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eff3ff;
}

h2 {
  margin-top: 25%;
  text-align: center;
}

a, select {
  cursor: pointer;
}

td.cat {
  width: 30%;
  text-align: center;
  color: black;
  background-color: #ebebeb;
  border: solid #333 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 5%;
  cursor: pointer;
}

td.cat:hover, a.tile:hover{
  background-color: #f2f2f2;
}

form {
  width: 30%;
  border: solid #333 2px;
  border-radius: 10px;
  padding: 1.5%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
  background-color: #f7fbff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

input {
  width: 100%;
  margin-bottom: 2px;
}

input.submit_b:hover {
  background-color: #63a9ff;
}

.submit_b {
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;
  border: none;
  background-color: #137af7;
  cursor: pointer;
}

.content {
  text-align: center;
}

.content .tile {
  text-align: center;
  color: black;
  background-color: #ebebeb;
  border: solid #333 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.search_tile {
  border: 2px solid black;
}

.profile_link {
  text-align: center;
  color: black;
  background-color: #ebebeb;
  border: solid #333 2px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1%;
  margin-left: 1%;
  margin-right: 1%;
  cursor: pointer;
}

.article_link {
  text-align: center;
  color: black;
  background-color: #ebebeb;
  border: solid #333 2px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1%;
  margin-left: 1%;
  margin-right: 1%;
  cursor: pointer;
}

.article_link:hover {
  background-color: #f2f2f2;
}

.profile_link:hover {
  background-color: #f2f2f2;
}

.profile_form {
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
}

#main {
  margin: 0 auto;
  width: 50%;
  padding: 5%;
}

#profile_edit {
  width: 50%;
}

#search_display {
  background-color: #f7fbff;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 50%;
}

#article_list, #category_page {
  background-color: #f7fbff;
  border: solid black 2px; 
  width: 50%;
}
